.metadata/*.*
.recommenders
*.prefs
target
*/target
.idea
*.iml
bin
json.z
SsmGame/lib
SsmLogin/lib
json.fuk
jsonzip
de_log
/Hospital
Immigration
SsmGame/netBase/log.html.1
SsmLogin/log/log.html.1