<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

	<aop:aspectj-autoproxy />

 	<context:property-placeholder location="conf/config.properties" ignore-unresolvable="true"/>
	
	<context:component-scan base-package="com.ssmCore com.ssmShare com.ssmchat">
		<!-- 文件夹监控服务 -->
		<context:exclude-filter type="regex" expression="com.ssmCore.file.*" />
		
		<!-- memcached服务 -->
		<context:exclude-filter type="regex" expression="com.ssmCore.memcached.*" />
		
		<!-- mongo 数据链接服务 -->
		<!--<context:exclude-filter type="regex" expression="com.ssmCore.mongo.*" /> -->
		
		<!-- jetty HTTP服务 -->
		<!--<context:exclude-filter type="regex" expression="com.ssmCore.jetty.*" />-->
		
		<!-- 关系数据库工厂  数据链接服务 -->
		<context:exclude-filter type="regex" expression="com.ssmCore.dbs.*" />
		<!-- rabbitMQ 队列P服务 -->
		<context:exclude-filter type="regex" expression="com.ssmCore.rabbitMq.*" />
		
		<!-- task 定时任务服务 -->
		<context:exclude-filter type="regex" expression="com.ssmCore.trigger.*" />
		
	</context:component-scan>
</beans>
